absl-py==0.9.0
astor==0.7.1
blinker==1.4
brotlipy==0.7.0
cachetools==3.1.1
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
click==7.1.2
cryptography==3.3.2
cycler==0.10.0
decorator==4.4.2
editdistance==0.5.3
efficientnet==1.0.0
essential-generators==0.9.2
fonttools==4.9.0
gast==0.2.2
google-auth==1.14.3
google-auth-oauthlib==0.4.1
google-pasta==0.2.0
graphviz==0.14
grpcio==1.27.2
h5py==2.10.0
idna==2.9
imagecodecs==2020.2.18
imageio==2.8.0
imgaug==0.4.0
importlib-metadata==1.6.0
imutils==0.5.3
joblib==0.14.1
Keras==2.3.1
Keras-Applications==1.0.8
keras-ocr==0.8.3
Keras-Preprocessing==1.1.0
kiwisolver==1.2.0
llvmlite==0.32.1
Mako==1.1.0
Markdown==3.2.2
MarkupSafe==1.1.1
matplotlib==3.2.1
networkx==2.4
numba==0.47.0
numpy==1.18.1
oauthlib==3.0.1
olefile==0.46
opencv-python==4.2.0.34
opt-einsum==0+untagged.56.g2664021.dirty
pandas==1.0.3
Pillow==7.1.2
protobuf==3.11.4
pyasn1==0.4.8
pyasn1-modules==0.2.7
pyclipper==1.1.0.post3
pycparser==2.20
pydot==1.4.1
pygpu==0.7.6
PyJWT==1.7.1
pyOpenSSL==19.1.0
pyparsing==2.4.7
PySocks==1.7.1
python-dateutil==2.8.1
python-mnist==0.7
pytz==2020.1
PyWavelets==1.1.1
PyYAML==5.4
requests==2.23.0
requests-oauthlib==1.2.0
rsa==4.7
scikit-image==0.17.2
scikit-learn==0.22.1
scipy==1.4.1
Shapely==1.7.0
six==1.14.0
tensorboard==2.1.1
tensorflow==2.1.0
tensorflow-estimator==2.1.0
termcolor==1.1.0
Theano==1.0.4
tifffile==2020.5.11
tornado==6.0.4
tqdm==4.46.0
urllib3==1.26.5
validators==0.15.0
Werkzeug==1.0.1
wrapt==1.12.1
zipp==3.1.0
